:root {
  --primary: #7300ff;  
  --secondary: #0091ff;     
  --accent: #0033ff;      
  --neutral: #392620;    
  --base-100: #1f2624; 
  --info: #0091d7;     
  --success: #6de700;      
  --warning: #ffb300;      
  --error: #d64654;

  --base-200: #fffeff; 
  --contact: #219ebc;
  --background: #0077b6;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: max-content;
}

body {
  background-color: var(--base-100);
  font-family: 'Roboto', sans-serif;
  height: max-content;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
}

.my-name {
  margin-left: 2rem;
  color: var(--base-200);
  font-size: 32px;
}

.my-name:hover {
  color: var(--accent);
  filter: brightness(85%);
}

.nav-options {
  display: flex;
  min-height: 100%;
  list-style-type: none;
  margin-right: 2rem;
  cursor: pointer;
  align-items: center;
}

.nav-options li {
  height: 110%;
  align-items: center;
  padding: 22px 14px 22px 14px;
  color: var(--base-200);
  font-size: larger;
  font-weight: 500;
  font-size: 24px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.list-items:hover {
  background-color: var(--accent);
  color: var(--base-200);
}

.github-logo:hover {
  background-color: none;
  color: var(--accent);
  filter: brightness(50%);
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.intro-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  height: 100%;
  width: 80%;
  margin-left: 3rem;
  min-height: 100px;
}

.intro-header {
  color: var(--base-200);
  margin-top: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 64px;
}

.intro-text {
  color: var(--base-200);
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 5rem;
  padding-left: 20px;
  padding-right: 50px;
}

.intro-text2 {
  display: none;
}

.img-box-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6rem;
  margin-left: 3rem;
}

.img-box-parent > p {
  margin-top: 1rem;
  color: darkgray;
  font-weight: 200;
  font-style: italic;
}

.img-container {
  margin-top: 3rem;
  object-fit: contain;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  border-radius: 200px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.projects-section {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  text-align: center;
  width: 100%;
  height: 500px;
}

.projects-section > h2 {
  margin-top: 1rem;
  font-weight: 600;
  font-style: italic;
  font-size: 36px;
  color: white;
}

.projects-container {
  width: auto;
  padding-left: 75px;
  padding-right: 75px;
  height: 75%;
  margin: auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.project-row1 {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 4rem;
}

.project-row2 {
  margin-left: 0;
  align-items: center;
  justify-content: center;
  width: auto;
}

.project-instructions {
  margin-top: 0.5rem;
  color: lightblue;
  font-style: italic;
  font-size: 16px;
}

.project-card {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  border-radius: 25px;
  object-fit: contain;
}

.projects-container p {
  margin-top: 1rem;
  color: white;
  font-size: 20px;
}

.projects-container p:hover {
  color: var(--contact);
}

#card1 {
  margin-left: 1rem;
}

#card3 {
  margin-right: 1rem;
}

.about-section {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  height: auto;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 2rem;
}

.text-container > h2 {
  font-style: italic;
  margin-top: 1rem;
  color: white;
  font-size: 36px;
}

.text-container > p {
  margin-bottom: 1rem;
  color: white;
}

.contact-section {
  display: flex;
  margin-top: 8rem;
  width: 100%;
  height: 30px;
  height: 150px;
}

.logo-container {
  display: flex;
  gap: 4rem;
  width: 50%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.logo-container i {
  cursor: pointer;
  color: white;
}

.logo-container i:hover {
  color: var(--contact);
}

.footer{
  display: flex;
  justify-content: center;
  margin: auto auto 0;
  padding: 1rem;
  border-top: 1px solid white;
}

.footer > p {
  width: 100vw;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 1480px) {
  .hero{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .intro-parent{
    width: 80%;
    margin-left: 0rem;
  }

  .intro-header{
    margin-top: 10rem;
  }

  .intro-text{
    display: none;
  }

  .intro-text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--base-200);
    font-weight: 400;
    font-size: 40px;
    margin-top: 4rem;
  }

  .img-box-parent{
    width: 80%;
    margin-right: 0;
    margin-left: 0rem;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    width: 1200px;
  }

  .text-container > h2 {
    font-style: italic;
    margin-top: 1rem;
    color: white;
    font-size: 36px;
  }
  
  .text-container > p {
    margin-bottom: 1rem;
    color: white;
    font-size: 32px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 1250px) {
  .projects-section {
    height: auto;
  }

  .projects-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    gap: 2rem;
  }

  #card1 {
    margin-left: 0;
    margin-top: 1rem;
  }

  #card2 {
    margin-top: 1rem;
  }

  #card3 {
    margin-right: 0;
  }

  .project3-display{
    margin-bottom: 0.5rem;
  }

  .text-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .my-name {
    font-size: 34px;
  }

  .nav-options li{
    padding: 28px 14px 28px 14px;
    font-size: 28px;
  }
  
  .text-container {
    width: 800px;
  }
}

@media screen and (max-width: 790px) {
  body{
    width: 790px;
  }

  .hero {
    width: 790px;
  }

  .intro-parent{
    width: 80%;
    margin-left: 0;
  }

  .img-box-parent{
    width: 80%;
    margin-left: 0;
  }

  .text-container {
    width: 650px;
  }
}

@media screen and (max-width: 500px) {
  .intro-parent{
    width: 80%;
  }

  .img-box-parent{
    width: 80%;
    margin-right: 0;
  }

  .text-container {
    width: 625px;
  }
}