:root {
  --primary: #7300ff;  
  --secondary: #0091ff;     
  --accent: #0033ff;      
  --neutral: #392620;    
  --base-100: #1f2624; 
  --info: #0091d7;     
  --success: #6de700;      
  --warning: #ffb300;      
  --error: #d64654;

  --base-200: #fffeff; 
  --contact: #219ebc;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--base-100);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
}

.navbar > h2 {
  margin-left: 2rem;
  color: var(--base-200);
}

.nav-options {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
  gap: 2rem;
  cursor: pointer;
}

.nav-options li {
  padding: 18px 4px 18px 4px;
  color: var(--base-200);
  font-size: larger;
  font-weight: 500;
}

.nav-options li:hover {
  background-color: var(--accent);
  color: var(--base-200);
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 25rem;
  width: 100vw;
  border: 1px solid var(--error);

  border-right: none;
  border-left: none;
  border-top: none;
}

.intro-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 80rem;
  margin-left: 3rem;
  border: 1px solid var(--error);
  min-height: 100px;
}

.intro-header {
  color: var(--base-200);
  margin-top: 4rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 64px;
}

.intro-text {
  color: var(--base-200);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4rem;
  padding-left: 20px;
  padding-right: 50px;
}

.img-box-parent {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-right: 6rem;
  margin-left: 3rem;
  border: 1px solid var(--error);
}

.img-box-parent > p {
  margin-top: 1rem;
  color: darkgray;
  font-weight: 200;
  font-style: italic;
}

.img-container {
  margin-top: 1rem;
  object-fit: contain;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  border: 1px solid var(--error);
  border-radius: 200px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.projects-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: var(--info);
}

.projects-container {
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: var(--accent);
}

.about-section {
  display: flex;
  justify-content: center;
  background-color: #64DFDF;
  height: 200px;
  font-weight: 600;
  font-size: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  gap: 2rem;
}

.text-container > h2 {
  font-style: italic;
  margin-top: 1rem;
}

.text-container > p {
  margin-bottom: 1rem;
}

.contact-section {
  display: flex;
  width: 100%;
  background-color: var(--contact);
  height: 150px;
}

.logo-container {
  display: flex;
  gap: 4rem;
  width: 50%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--contact);
}

.logo-container i {
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  width: vw;
  margin: auto auto 0;
  padding: 1rem;
}

.footer > p {
  width: 100vw;
  text-align: center;
  font-style: italic;
}


@media screen and (max-width: 790px) {
  body{
    width: 790px;
  }

  .hero {
    width: 790px;
  }
}